<div class="container">
  <div class="wrapper col-md-8 col-md-offset-2 col-sm-10">
    <p><%= notice %></p>
      <%= render 'form' %>
      <!--<%= link_to "ツイート", new_twitter_path, class: 'btn btn-default' %>-->
    <% @tweets.each do |twitter| %>
    <div class="row">
      <p><%= twitter.content %></p>
      <%= link_to "編集", edit_twitter_path(twitter.id), class: 'btn btn-default btn-sm btn-success' %>
      <%= link_to "削除", twitter_path(twitter.id), method: :delete, data: { confirm: '本当に削除していいですか？'}, class: 'btn btn-default btn-sm btn btn-danger' %>
    </div>
    
    <div id="page-top-btn" class="page-top-btn">
    <p><a class="move-page-top" id="move-page-top">▲</a></p>
    </div>
    
    <% end %>
  </div>
</div>
